@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.gmi-new-logo-15 {
  position: relative;
  width: 172.99px;
  height: 65.64px;
  object-fit: cover;
  cursor: pointer;
}
.about-us7,
.home10 {
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.about-us7 {
  color: var(--primary-text);
}
.menu-icon5 {
  position: relative;
  width: 21.88px;
  height: 19.14px;
  display: none;
}
.menu5,
.nav-link6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: column;
}
.nav-link6 {
  flex: 1;
  flex-direction: row;
  padding: 15.158016204833984px 18.947521209716797px;
  gap: var(--gap-18xl-9);
}
.navbar-button-text6 {
  position: relative;
  font-size: var(--paragraph-size);
  font-weight: 500;
  font-family: var(--paragraph-small);
  color: var(--white);
  text-align: right;
}
.nav-button6,
.navbar5 {
  display: flex;
  flex-direction: row;
}
.nav-button6 {
  cursor: pointer;
  border: 0;
  padding: 11.368512153625488px 30.31603240966797px;
  background-color: var(--primary-text);
  border-radius: 3.79px;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar5 {
  align-self: stretch;
  background-color: var(--white);
  backdrop-filter: blur(28.42px);
  border-bottom: 0.9px solid var(--color-gray-200);
  padding: 17.052766799926758px 104.21135711669922px;
  align-items: center;
  justify-content: space-between;
  color: var(--secondary-text);
}
.about-us8 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.header6 {
  align-self: stretch;
  background-color: var(--color-mistyrose);
  display: flex;
  flex-direction: column;
  padding: var(--padding-77xl) var(--padding-335xl);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--h2-size);
}
.line-icon2 {
  position: relative;
  width: 72px;
  height: 0;
}
.about-us9 {
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.line-parent {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  text-align: center;
}
.gmi-was-divinely {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 120%;
}
.the-goodworker-ministry {
  margin: 0;
}
.the-goodworker-ministry-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lgi);
  line-height: 160%;
  color: var(--secondary-text);
}
.text1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 28px;
}
.unsplashaeatunvneik-icon {
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  height: 723px;
  object-fit: cover;
}
.header-frame,
.header7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.header7 {
  flex: 1;
  justify-content: flex-start;
  gap: 72px;
}
.header-frame {
  align-self: stretch;
  background-color: #fdfdfd;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 62px 128px;
  justify-content: space-between;
  opacity: 1;
}
.contribute2.animate,
.header-frame.animate,
.section-title-container.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.you-can-contribute3 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);
}
.primary-button-text6 {
  position: relative;
  font-size: var(--paragraph-size);
  font-weight: 500;
  font-family: var(--paragraph-small);
  color: var(--white);
  text-align: center;
}
.primary-button6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-crimson-100);
  border-radius: var(--br-9xs);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.secondary-button-text4 {
  position: relative;
  font-size: var(--paragraph-size);
  font-weight: 500;
  font-family: var(--paragraph-small);
  color: var(--primary-text);
  text-align: right;
}
.button-row3,
.secondary-button4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.secondary-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--white);
  border-radius: var(--br-9xs);
  backdrop-filter: blur(80px);
}
.button-row3 {
  flex-wrap: wrap;
  gap: var(--gap-3xl);
}
.join2 {
  gap: var(--gap-72xl);
}
.contribute2,
.header8,
.join2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header8 {
  border-radius: var(--br-81xl);
  padding: var(--padding-80xl) var(--padding-21xl);
  background-image: url(./public/header1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.contribute2 {
  background-color: var(--color-crimson-100);
  overflow: hidden;
  padding: var(--padding-54xl) var(--padding-80xl);
  opacity: 1;
  text-align: center;
  font-size: var(--h2-size);
  color: var(--white);
}
.our-events2 {
  position: relative;
  line-height: 140%;
  font-weight: 500;
}
.line5 {
  position: relative;
  border-top: 1px solid var(--border);
  box-sizing: border-box;
  width: 1063px;
  height: 1px;
}
.section-title2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.div4,
.oct4 {
  position: relative;
  font-weight: 500;
}
.div4 {
  line-height: 120%;
}
.oct4 {
  font-size: var(--paragraph-size);
  letter-spacing: 2px;
  text-transform: uppercase;
}
.date4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.featured-destination-category4 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.featured-destination-descripti4,
.featured-destination-title4 {
  align-self: stretch;
  position: relative;
  font-size: var(--h3-size);
  line-height: 36px;
}
.featured-destination-descripti4 {
  font-size: var(--paragraph-size);
  line-height: 33px;
}
.featured-destination-copywriti4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.ellipse4 {
  position: relative;
  border-radius: 50%;
  background-color: var(--white);
  width: 56px;
  height: 56px;
  z-index: 0;
}
.arrow-icon4 {
  position: absolute;
  margin: 0 !important;
  top: 20.64px;
  left: 19.25px;
  border-radius: var(--br-xl);
  width: 18.5px;
  height: 14.73px;
  z-index: 1;
}
.arrow-button4,
.date-parent1,
.featured-destination-blurb4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrow-button4 {
  flex-direction: row;
  position: relative;
  gap: var(--gap-3xs);
}
.date-parent1,
.featured-destination-blurb4 {
  flex: 1;
}
.featured-destination-blurb4 {
  flex-direction: column;
  padding: var(--padding-11xl);
  gap: var(--gap-5xl);
  margin-left: -1px;
  font-size: var(--font-size-lg);
}
.date-parent1 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-18xl);
}
.featured-destination-title5 {
  align-self: stretch;
  position: relative;
  font-size: var(--h3-size);
  line-height: 150%;
}
.events-cta2,
.featured-destination-copywriti5,
.section-title-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.featured-destination-copywriti5 {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.events-cta2,
.section-title-container {
  background-color: var(--color-mistyrose);
  flex-direction: row;
  padding: var(--padding-88xl) var(--padding-121xl);
  font-size: var(--h2-size);
}
.section-title-container {
  background-color: var(--white);
  flex-direction: column;
  padding: var(--padding-48xl) var(--padding-42xl);
  gap: var(--gap-23xl);
  opacity: 1;
  font-size: var(--font-size-3xl);
}
.copyright-information4 {
  flex: 1;
  position: relative;
}
.blog4,
.contact-us4,
.home11,
.projects13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--paragraph-small-size);
  font-family: var(--paragraph-small);
  color: var(--white);
  text-align: center;
  display: inline-block;
  width: 38px;
  height: 16px;
  flex-shrink: 0;
}
.blog4,
.contact-us4,
.projects13 {
  width: 58px;
}
.contact-us4,
.projects13 {
  width: 67px;
}
.contact-us4 {
  width: 74.88px;
}
.footer-links4,
.footer4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.footer-links4 {
  justify-content: center;
  gap: var(--gap-sm);
}
.footer4 {
  align-self: stretch;
  background-color: var(--black);
  padding: var(--padding-13xl) var(--padding-101xl);
  justify-content: space-between;
  font-size: var(--paragraph-small-size);
  color: var(--white);
}
.about-us6 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--primary-text);
  font-family: var(--paragraph-small);
}
@media screen and (max-width: 1200px) {
  .menu-icon5 {
    display: none;
  }
  .events-cta2,
  .footer4 {
    padding: var(--padding-61xl);
    box-sizing: border-box;
  }
  .footer4 {
    padding: var(--padding-11xl) var(--padding-61xl);
  }
}
@media screen and (max-width: 960px) {
  .gmi-new-logo-15 {
    width: 152px;
    height: 50px;
  }
  .about-us7,
  .home10 {
    display: none;
  }
  .menu-icon5 {
    display: flex;
  }
  .navbar5 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .about-us8 {
    font-size: var(--font-size-21xl);
  }
  .header6 {
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
    box-sizing: border-box;
  }
  .gmi-was-divinely,
  .the-goodworker-ministry-container {
    text-align: center;
  }
  .text1 {
    align-items: center;
    justify-content: center;
  }
  .unsplashaeatunvneik-icon {
    display: none;
  }
  .header-frame {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
    opacity: 1;
  }
  .header-frame.animate {
    animation: 1s ease 0s 1 normal forwards scale-up;
  }
  @keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  .you-can-contribute3 {
    font-size: var(--font-size-11xl);
    text-align: center;
  }
  .featured-destination-blurb4 {
    padding: var(--padding-5xl) 0;
    box-sizing: border-box;
  }
  .date-parent1 {
    flex: unset;
    align-self: stretch;
  }
  .events-cta2 {
    flex-direction: column;
    padding: var(--padding-41xl) var(--padding-21xl);
    box-sizing: border-box;
  }
  .copyright-information4 {
    text-align: center;
  }
  .footer-links4 {
    display: none;
  }
  .footer4 {
    padding: var(--padding-10xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .gmi-new-logo-15 {
    width: 100px;
    height: 36px;
  }
  .navbar5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .about-us8 {
    font-size: var(--font-size-11xl);
  }
  .header6 {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .line-icon2 {
    display: none;
  }
  .about-us9 {
    font-size: var(--drop-menu-menu-size);
    text-align: center;
  }
  .line-parent {
    align-items: center;
    justify-content: center;
  }
  .gmi-was-divinely {
    font-size: var(--font-size-3xl);
    text-align: center;
  }
  .the-goodworker-ministry-container {
    font-size: var(--paragraph-size);
    text-align: center;
  }
  .header-frame {
    padding-left: var(--padding-31xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
    opacity: 1;
  }
  .header-frame.animate {
    animation: 1s ease 0s 1 normal forwards scale-up;
  }
  @keyframes scale-up {
    0% {
      transform: scale(0.5);
    }
    to {
      transform: scale(1);
    }
  }
  .you-can-contribute3 {
    font-size: var(--font-size-3xl);
    line-height: 30px;
  }
  .header8 {
    padding-top: var(--padding-31xl);
    padding-bottom: var(--padding-31xl);
    box-sizing: border-box;
  }
  .contribute2 {
    padding: var(--padding-31xl);
    box-sizing: border-box;
  }
  .our-events2 {
    font-size: var(--font-size-3xl);
  }
  .line5 {
    display: none;
  }
  .date4,
  .section-title2 {
    align-items: center;
    justify-content: center;
  }
  .featured-destination-category4 {
    text-align: center;
  }
  .featured-destination-title4 {
    font-size: var(--font-size-3xl);
    text-align: center;
  }
  .featured-destination-descripti4 {
    text-align: center;
  }
  .date-parent1,
  .featured-destination-blurb4,
  .featured-destination-copywriti4 {
    align-items: center;
    justify-content: center;
  }
  .featured-destination-title5 {
    font-size: var(--font-size-3xl);
    text-align: center;
  }
  .section-title-container {
    align-items: center;
    justify-content: center;
  }
  .footer4 {
    padding: var(--padding-9xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
.join-as-a,
.you-can-contribute1 {
  align-self: stretch;
  position: relative;
  line-height: 140%;
}
.you-can-contribute1 {
  font-size: var(--paragraph-small-size);
  line-height: 160%;
  color: var(--secondary-text);
}
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.bg {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--primary-text);
  width: 32px;
  height: 32px;
  z-index: 0;
}
.cross-icon {
  position: absolute;
  margin: 0 !important;
  top: 9.47px;
  left: 9.47px;
  width: 13.06px;
  height: 13.06px;
  z-index: 1;
}
.close-button,
.text-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.close-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  gap: var(--gap-3xs);
  margin-left: -12px;
}
.text-parent {
  align-self: stretch;
}
.first-name,
.line1 {
  align-self: stretch;
  position: relative;
}
.first-name {
  line-height: 160%;
  opacity: 0.6;
}
.line1 {
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.form-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xl);
}
.message,
.text-area {
  align-self: stretch;
  position: relative;
}
.message {
  line-height: 160%;
  opacity: 0.6;
  z-index: 0;
}
.text-area {
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 157px;
  z-index: 1;
}
.type-your-messege {
  position: absolute;
  margin: 0 !important;
  top: 43px;
  left: 20px;
  font-size: var(--paragraph-size);
  line-height: 160%;
  opacity: 0.3;
  z-index: 2;
}
.form-field3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 4px;
}
.primary-button-text4 {
  position: relative;
  font-size: var(--paragraph-size);
  font-weight: 500;
  font-family: var(--paragraph-small);
  color: var(--white);
  text-align: right;
}
.primary-button4 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-crimson-100);
  border-radius: var(--br-9xs);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button,
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  padding: var(--padding-3xs);
}
.form {
  align-self: stretch;
  gap: 32px;
  font-size: var(--drop-menu-menu-size);
}
.home3,
.popup {
  position: relative;
}
.popup {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  width: 652px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-9xl) var(--padding-11xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 37px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--primary-text);
  font-family: var(--paragraph-small);
}
.home3 {
  font-weight: 500;
  cursor: pointer;
}
.menus,
.nav-link2 {
  display: flex;
  flex-direction: column;
}
.nav-link2 {
  align-self: stretch;
  padding: 15.158016204833984px 18.947521209716797px;
  align-items: center;
  justify-content: center;
  gap: var(--gap-18xl-9);
}
.menus {
  position: relative;
  background-color: var(--white);
  width: 177px;
  overflow: hidden;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--primary-text);
  font-family: var(--paragraph-small);
}
