.iconsregularplus6 {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.label115 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.label114,
.label214,
.label414 {
  position: relative;
  width: 45px;
  height: 18px;
}
.label214,
.label414 {
  width: 49px;
  display: none;
}
.label414 {
  width: 50px;
}
.iconsregularchevron-down-s6 {
  position: relative;
  width: 20px;
  height: 20px;
  opacity: 0;
}
.item-hover5 {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-5xl);
  align-items: center;
  justify-content: space-between;
  z-index: 4;
}
.label116,
.label216 {
  position: relative;
  height: 18px;
}
.label116 {
  width: 45px;
  display: none;
}
.label216 {
  width: 49px;
}
.item-hover6,
.item-hover7 {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-5xl);
  align-items: center;
  justify-content: space-between;
  z-index: 3;
}
.item-hover7 {
  z-index: 2;
}
.label420 {
  position: relative;
  width: 50px;
  height: 18px;
}
.item-hover8,
.item-hover9 {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-5xl);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.item-hover9 {
  z-index: 0;
}
.items-list1,
.services-overlay {
  display: flex;
  flex-direction: column;
}
.items-list1 {
  border-radius: 0 0 var(--br-5xs) var(--br-5xs);
  background-color: var(--white);
  width: 260px;
  height: 218px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
}
.services-overlay {
  position: relative;
  width: 100%;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--drop-menu-menu-size);
  color: var(--black1);
  font-family: var(--drop-menu-menu);
}
